{% extends "base.html" %}

{% block title %}  Profile {% endblock %}

{% block content %}
<h1>My Posts</h1>
<a href="{% url 'blog:add_post' %}" class="btn btn-success mb-3">Add New Post</a>
<ul class="list-group">
    {% for post in page_obj %}
        <li class="list-group-item">
            <div class="row">
                {% if post.image %}
                <div class="col-md-3">
                    <img src="{{ post.image.url }}" class="img-fluid rounded" style="max-height:150px;" alt="Post Image">
                </div>
                {% endif %}
                <div class="{% if post.image %}col-md-9{% else %}col-12{% endif %}">
                    <h2>
                        <a href="{% url 'blog:update_post' post.id %}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.created_at }}</p>
                    <a href="{% url 'blog:delete_post' post.id %}">Delete</a> |
                    <a href="{% url 'blog:post_detail' post.id %}">View Public</a>
                </div>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">You have no posts.</li>
    {% endfor %}
</ul>
<div class="pagination">
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}